In [167]:
#imports

import pandas as pd
import os

In [168]:
#create a dataframe from csv file

cwd = os.getcwd()
df = pd.read_csv("C:\\Users\\USER\\Britishairway/Data_collection/BA_reviews.csv", index_col=0)

In [169]:
df.head()

,reviews,date,country,stars
index,,,,
0,✅ Trip Verified | Terrible Experience with Bri...,29th July 2023,Canada,5
1,✅ Trip Verified | An airline that lives in the...,26th July 2023,Qatar,2
2,✅ Trip Verified | Check-in Desk rude and dism...,26th July 2023,United Kingdom,10
3,✅ Trip Verified | I chose British Airways espe...,25th July 2023,Spain,3
4,Not Verified | I booked Premium Economy from I...,24th July 2023,United Kingdom,2

In [170]:

# Reset the 'reviews' index to a regular column
df.reset_index(inplace=True)

# Convert the 'reviews' column to a string data type
df['reviews'] = df['reviews'].astype(str)

# Add the 'verified' column based on whether the review starts with "✅ Trip Verified"
df['verified'] = df['reviews'].str.startswith('✅ Trip Verified')

# If you only want the first part before '|' in the 'reviews' column, you can use the split operation as follows:
# df['reviews'] = df['reviews'].str.split('|').str[0].str.strip()

In [171]:
df['verified']

0        True
1        True
2        True
3        True
4       False
        ...
1005    False
1006    False
1007    False
1008    False
1009    False
Name: verified, Length: 1010, dtype: bool

In [172]:
df.head()

,index,reviews,date,country,stars,verified
0,0,✅ Trip Verified | Terrible Experience with Bri...,29th July 2023,Canada,5,True
1,1,✅ Trip Verified | An airline that lives in the...,26th July 2023,Qatar,2,True
2,2,✅ Trip Verified | Check-in Desk rude and dism...,26th July 2023,United Kingdom,10,True
3,3,✅ Trip Verified | I chose British Airways espe...,25th July 2023,Spain,3,True
4,4,Not Verified | I booked Premium Economy from I...,24th July 2023,United Kingdom,2,False

In [173]:
df.reviews= df.reviews.str.split('|',expand=True)[1]

In [174]:
df.head()

,index,reviews,date,country,stars,verified
0,0,Terrible Experience with British Airways. I b...,29th July 2023,Canada,5,True
1,1,An airline that lives in their past glory and...,26th July 2023,Qatar,2,True
2,2,Check-in Desk rude and dismissive. Flight la...,26th July 2023,United Kingdom,10,True
3,3,I chose British Airways especially because I ...,25th July 2023,Spain,3,True
4,4,I booked Premium Economy from INV to LAX (via...,24th July 2023,United Kingdom,2,False

In [175]:
df.dtypes

index        int64
reviews     object
date        object
country     object
stars        int64
verified      bool
dtype: object

In [176]:
# convert the date to datetime format

df.date = pd.to_datetime(df.date)

In [177]:
df.date.head()

0   2023-07-29
1   2023-07-26
2   2023-07-26
3   2023-07-25
4   2023-07-24
Name: date, dtype: datetime64[ns]

Cleaning star

In [178]:
#check for unique values
df.stars.unique()

array([ 5,  2, 10,  3,  7,  1,  4,  6,  8,  9], dtype=int64)

In [179]:
df.stars.value_counts()

1     290
2     160
3     130
10     80
7      70
4      70
9      60
5      50
6      50
8      50
Name: stars, dtype: int64

In [180]:
df.isnull().value_counts()

index  reviews  date   country  stars  verified
False  False    False  False    False  False       1000
       True     True   True     False  False         10
dtype: int64

In [181]:

# Use dropna() to remove rows with NaT and NaN values
df.dropna(how='any', inplace=True)

In [182]:
df.isnull().value_counts()

index  reviews  date   country  stars  verified
False  False    False  False    False  False       1000
dtype: int64

In [183]:
#resetting the index
df.reset_index(drop=True)

,index,reviews,date,country,stars,verified
0,0,Terrible Experience with British Airways. I b...,2023-07-29,Canada,5,True
1,1,An airline that lives in their past glory and...,2023-07-26,Qatar,2,True
2,2,Check-in Desk rude and dismissive. Flight la...,2023-07-26,United Kingdom,10,True
3,3,I chose British Airways especially because I ...,2023-07-25,Spain,3,True
4,4,I booked Premium Economy from INV to LAX (via...,2023-07-24,United Kingdom,2,False
...,...,...,...,...,...,...
995,995,"\r\nBA34 KUL-LHR 6 Sept, return BA11 LHR-SIN-...",2018-09-20,Malaysia,2,True
996,996,We flew from Los Angeles to Leeds Bradford vi...,2018-09-18,United Kingdom,4,True
997,997,Brindisi to London. Flying from any airport ...,2018-09-17,United Kingdom,1,True
998,998,Chicago to London. I have flown long haul ma...,2018-09-16,United Kingdom,1,True
999,999,Berlin to London. It was a connecting flight...,2018-09-16,Germany,2,True

In [189]:
# export the cleaned data

df.to_csv(cwd + "/cleaned_BA_reviews.csv")

In [185]:
df.head()

,index,reviews,date,country,stars,verified
0,0,Terrible Experience with British Airways. I b...,2023-07-29,Canada,5,True
1,1,An airline that lives in their past glory and...,2023-07-26,Qatar,2,True
2,2,Check-in Desk rude and dismissive. Flight la...,2023-07-26,United Kingdom,10,True
3,3,I chose British Airways especially because I ...,2023-07-25,Spain,3,True
4,4,I booked Premium Economy from INV to LAX (via...,2023-07-24,United Kingdom,2,False

In [188]:
df.shape

(1000, 6)