In [162]:
#imports

import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [163]:
# Initialize lists to store scraped data

reviews  = []
stars = []
date = []
country = []

In [164]:
pages = 10
page_size = 100

for i in range(1, pages + 1):

    print(f"Scraping page {i}")

    page = requests.get(f"https://www.airlinequality.com/airline-reviews/british-airways/page/{i}/?sortby=post_date%3ADesc&pagesize=100")
    
    soup = BeautifulSoup(page.content, "html.parser")  
    
    for item in soup.find_all("div", class_="text_content"):
        reviews.append(item.text)
        
    #date
    for item in soup.find_all("time"):
        date.append(item.text)
        
    #country
    for item in soup.find_all("h3"):
        country.append(item.span.next_sibling.text.strip(" ()"))
        
    print(f"   ---> {len(reviews)} total reviews")

# Check if all lists have the same length
if len(reviews) == len(date) == len(country):
    # Create the DataFrame using the lists (excluding 'stars')
    df = pd.DataFrame({"reviews": reviews, "date": date, "country": country})
    print("DataFrame created successfully!")
else:
    print("Error: Lists have different lengths.")
    print(f"Length of 'reviews': {len(reviews)}")
    print(f"Length of 'date': {len(date)}")
    print(f"Length of 'country': {len(country)}")

Scraping page 1
   ---> 100 total reviews
Scraping page 2
   ---> 200 total reviews
Scraping page 3
   ---> 300 total reviews
Scraping page 4
   ---> 400 total reviews
Scraping page 5
   ---> 500 total reviews
Scraping page 6
   ---> 600 total reviews
Scraping page 7
   ---> 700 total reviews
Scraping page 8
   ---> 800 total reviews
Scraping page 9
   ---> 900 total reviews
Scraping page 10
   ---> 1000 total reviews
DataFrame created successfully!

In [165]:
df.head()

,reviews,date,country
0,✅ Trip Verified | Terrible Experience with Bri...,29th July 2023,Canada
1,✅ Trip Verified | An airline that lives in the...,26th July 2023,Qatar
2,✅ Trip Verified | Check-in Desk rude and dism...,26th July 2023,United Kingdom
3,✅ Trip Verified | I chose British Airways espe...,25th July 2023,Spain
4,Not Verified | I booked Premium Economy from I...,24th July 2023,United Kingdom

In [166]:

stars = []
page = 10
page_size =100
for i in range(1, pages + 1):

    for item in soup.find_all("div", class_="rating-10"):
        star_rating = item.span.text.strip() if item.span else "N/A"
        stars.append(star_rating)

stars_df = pd.DataFrame({"stars": stars})

In [167]:
stars_df.head()

  stars
0     5
1     2
2    10
3     3
4     2

In [168]:
combined_df = pd.concat([df, stars_df], axis=1)
print(combined_df.head())

                                             reviews            date  \
0  ✅ Trip Verified | Terrible Experience with Bri...  29th July 2023
1  ✅ Trip Verified | An airline that lives in the...  26th July 2023
2  ✅ Trip Verified |  Check-in Desk rude and dism...  26th July 2023
3  ✅ Trip Verified | I chose British Airways espe...  25th July 2023
4  Not Verified | I booked Premium Economy from I...  24th July 2023

          country stars
0          Canada     5
1           Qatar     2
2  United Kingdom    10
3           Spain     3
4  United Kingdom     2

In [169]:
combined_df.shape

(1010, 4)

In [170]:
import pandas as pd

# Assuming you have already loaded your DataFrame (df)
# If 'reviews' is currently the index, reset it to a regular column
combined_df.reset_index(inplace=True)

# Add a new 'SNo' column to your DataFrame
df['SNo'] = df.index + 1

In [171]:
import os
csv_file_path = os.path.join(os.getcwd(), "BA_reviews.csv")
combined_df.to_csv(csv_file_path, index=False)

In [172]:
combined_df.head()

,index,reviews,date,country,stars
0,0,✅ Trip Verified | Terrible Experience with Bri...,29th July 2023,Canada,5
1,1,✅ Trip Verified | An airline that lives in the...,26th July 2023,Qatar,2
2,2,✅ Trip Verified | Check-in Desk rude and dism...,26th July 2023,United Kingdom,10
3,3,✅ Trip Verified | I chose British Airways espe...,25th July 2023,Spain,3
4,4,Not Verified | I booked Premium Economy from I...,24th July 2023,United Kingdom,2

In [173]:
import os
csv_file_path = os.path.join(os.getcwd(), "BA_reviews.csv")
combined_df.to_csv(csv_file_path, index=False)